doctype html
include /include/art.html
html(lang= lang, data-layout= layout, data-topic= topicId ? topicId : false)
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="generator", content="Erudit " + version)
        meta(name="build-time", content= config.buildTime)

        title= seo.title
        
        if (seo.desc)
            meta(name="description", content= seo.desc)

        if (seo.keywords)
            meta(name="keywords", content= seo.keywords)

        //- Favicon
        //link(rel="icon", type="image/svg+xml", href="/site/graphics/favicons/favicon.svg")
        link(rel="icon", type="image/png", href="/site/graphics/favicons/favicon2.png")

        // PhotoSwipe
        script(src="/site/vendor/photoswipe/photoswipe.umd.min.js")
        script(src="/site/vendor/photoswipe/photoswipe-lightbox.umd.min.js") 
        script.
            var PhotoSwipeLang = {
                closeTitle:         '#{i18n('vendor.photoswipe.close')}',
                zoomTitle:          '#{i18n('vendor.photoswipe.zoom')}',
                arrowPrevTitle:     '#{i18n('vendor.photoswipe.arrowPrev')}',
                arrowNextTitle:     '#{i18n('vendor.photoswipe.arrowNext')}',
                errorMsg:           '#{i18n('vendor.photoswipe.errorMsg')}'
            }

        link(href="/site/vendor/photoswipe/photoswipe.css", rel="stylesheet")

        // Katex
        link(href= '/site/vendor/katex/katex.min.css', rel="stylesheet")

        // Icons
        link(rel="stylesheet", href="/site/fonts/icons/style.css")

        // Global Style
        link(href="/site/styles/global.css", rel="stylesheet")

        // Global Script
        script(src="/site/scripts/global.js")

        if (hasStyle)
            // Page Style
            link(href= `/site/styles/pages/${layout}.css`, rel="stylesheet")

        if (hasScript)
            // Page Script
            script(src= `/site/scripts/pages/${layout}.js`)

        if (config.dev)
            // Live Reload
            script(src="/site/scripts/reload.js")

    body
        script
            include /include/theme.js

        include /include/aside/major/main

        aside.minor
            .full
                block minorFull
            .mini
                block minorMini

        main
            article
                block content

            .expand
                //- Making sure sticky bottom is always actually to bottom

            .bottomSticky
                .asideControls
                    button.majorOpen
                        i.i-aside-open(style="transform: scale(-1, 1)")

                    button.minorOpen
                        i.i-aside-open

                section#preview
                    .display
                        .border
                        .screen.loading(data-state)
                            .inner
                                i.i-omath
                        .screen.error(data-state)
                            .inner
                                i.i-warning

                    footer
                        .title= i18n('preview.title')
                        .controls
                            a.button.goto(title= i18n('preview.controls.goto'), target="_blank", href="")
                                i.i-up-right-from-square
                            .button.back(title= i18n('preview.controls.back'))
                                i.i-arrow-left
                            .button.mini(
                                data-label-collapse= i18n('preview.controls.mini.collapse'),
                                data-label-expand= i18n('preview.controls.mini.expand')
                            )
                                i.i-compress
                                i.i-expand
                            .button.exit(title= i18n('preview.controls.exit'))
                                i.i-xmark