doctype html
include /include/art.html
html(lang= lang)
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="generator", content="Erudit " + version)

        // Global Style
        link(href="/site/styles/global.css", rel="stylesheet")

        // Icons
        link(rel="stylesheet", href="/site/fonts/icons/style.css")

        // Global Script
        script(src="/site/scripts/global.js")
        
        if (config.dev)
            // Live Reload
            script(src="/site/scripts/reload.js")

    body
        script
            include /include/theme.js

        //
        //
        // TODO!!!!!
        // Управлять текущей панелью только из одного атрибута - атрибута у тега aside! Не надо плодить data-showing атрибуты!!
        // Это сильно все упростит!
        // И еще переименовать сам data-showing атрибут на data-focus или-что то такое. Ведь при полном экране он и так показывается!
        //
        //
        //

        aside.major
            .full
                .siteInfo
                    a.logo(href="/")
                        include /include/logo.svg
                    .title
                        a(href="/")= i18n('siteInfo.title')
                    .slogan= i18n('siteInfo.slogan')
                
                mixin paneSwitcherButton(name, icon)
                    button(title= i18n(`panes.${name}`), data-target= name, data-current= (pane === name) ? '' : false)
                        .inner
                            i(class= `i-${icon}`)

                .paneSwitcher
                    .inner
                        +paneSwitcherButton('toc', 'sitemap')
                        +paneSwitcherButton('pages', 'file-lines')
                        +paneSwitcherButton('search', 'magnifying-glass')
                        +paneSwitcherButton('language', 'globe')
                        +paneSwitcherButton('other', 'menu-ellipsis-ver')
                        .slider
                
                mixin pane(name)
                    .pane(data-pane= name, data-current = (pane === name) ? '' : false)
                        .inner
                            block

                .panes
                    +pane('toc')
                        p Привет мир!

                    +pane('pages')
                    +pane('search')
                    +pane('language')
                    +pane('other')

            //-

            mixin miniSwitchButton(name, icon)
                button(title= i18n(`panes.${name}`), data-target= name)
                    i(class=`i-${icon}`)

            .mini
                a(href="/")
                    i(class="i-omath")
                +miniSwitchButton('toc', 'sitemap')
                +miniSwitchButton('pages', 'file-lines')
                +miniSwitchButton('search', 'magnifying-glass')
                +miniSwitchButton('language', 'globe')
                +miniSwitchButton('other', 'menu-ellipsis-ver')


        aside.minor
            .full Минор. Полная ширина
            .mini Минор. Мини

        main
            article
                h1 Привет мир!
                p Не следует, однако забывать, что укрепление и развитие структуры представляет собой интересный эксперимент проверки направлений прогрессивного развития. Идейные соображения высшего порядка, а также рамки и место обучения кадров способствует подготовки и реализации новых предложений.
                h2 Подзаголовок алалия
                p Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание дальнейших направлений развития.
                p Повседневная практика показывает, что укрепление и развитие структуры влечет за собой процесс внедрения и модернизации направлений прогрессивного развития.

                button(onclick="OMath.toggleTheme()") Переключить тему
                br
                h2 Предпросмотр
                button(onclick="OMath.Preview.loadView('view1.json')") Добавить view1
                br
                button(onclick="OMath.Preview.loadView('view2.json')") Добавить view2
                br
                button(onclick="OMath.Preview.loadView('view3.json')") Добавить view3
                br
                button(onclick="OMath.Preview.exit()") Выход

            .expand
                //- Making sure sticky bottom is always actually to bottom

            .bottomSticky
                .asideControls
                    button.majorOpen
                        i.i-aside-open(style="transform: scale(-1, 1)")

                    button.minorOpen
                        i.i-aside-open

                section#preview
                    .display
                        .border
                        .screen.loading(data-state)
                            .inner
                                i.i-omath
                        .screen.error(data-state)
                            .inner
                                i.i-warning

                    footer
                        .title= i18n('preview.title')
                        .controls
                            a.button.goto(title= i18n('preview.controls.goto'), target="_blank", href="")
                                i.i-up-right-from-square
                            .button.back(title= i18n('preview.controls.back'))
                                i.i-arrow-left
                            .button.mini(
                                data-label-collapse= i18n('preview.controls.mini.collapse'),
                                data-label-expand= i18n('preview.controls.mini.expand')
                            )
                                i.i-compress
                                i.i-expand
                            .button.exit(title= i18n('preview.controls.exit'))
                                i.i-xmark