include /include/ads

doctype html
include /include/art.html
html(lang= lang, data-layout= layout, data-topic= topicId ? topicId : false)
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="generator", content="Erudit " + version)
        meta(name="build-time", content= config.buildTime)

        title= seo.title
        
        if (seo.desc)
            meta(name="description", content= seo.desc)

        if (seo.keywords)
            meta(name="keywords", content= seo.keywords)

        //- OG Protocol
        meta(property="og:site_name", content= i18n('global.siteName'))

        meta(property="og:title", content= seo.title)

        if (seo.desc)
            meta(property="og:description", content= seo.desc)

        if (seo.ogImg)
            meta(property="og:image", content= seo.ogImg.href)
            meta(property="og:image:width", content= seo.ogImg.width)
            meta(property="og:image:height", content= seo.ogImg.height)

        meta(property="og:image", content= config.getUrl() + "/site/graphics/ogImage.png")
        meta(property="og:image:type", content="image/png")
        meta(property="og:image:width", content="300")
        meta(property="og:image:height", content="300")
        meta(property="og:image:alt", content="OMath logo")

        //- Favicon
        link(rel="icon", href="/site/graphics/favicons/favicon.svg")
        link(rel="icon", type="image/png", href="/site/graphics/favicons/favicon.png")

        // Translator
        link(rel="stylesheet", href="/site/content/style.css")
        link(rel="stylesheet", href="/site/content/assets/icons/style.css")
        script(src="/site/content/script.js")
        script.
            globalThis.TaskGenUrl = '/site/content/worker_taskGen.js';

        // PhotoSwipe
        link(rel="stylesheet", href="/site/content/assets/vendor/photoswipe/photoswipe.css")
        link(rel="stylesheet", href="/site/content/assets/vendor/photoswipe/photoswipe-dynamic-caption-plugin.css")
        script(src="/site/content/assets/vendor/photoswipe/photoswipe.umd.min.js")
        script(src="/site/content/assets/vendor/photoswipe/photoswipe-lightbox.umd.min.js")
        script(src="/site/content/assets/vendor/photoswipe/photoswipe-dynamic-caption-plugin.umd.min.js")
        script.
            var PhotoSwipeLang = {
                closeTitle:         '#{i18n('vendor.photoswipe.close')}',
                zoomTitle:          '#{i18n('vendor.photoswipe.zoom')}',
                arrowPrevTitle:     '#{i18n('vendor.photoswipe.arrowPrev')}',
                arrowNextTitle:     '#{i18n('vendor.photoswipe.arrowNext')}',
                errorMsg:           '#{i18n('vendor.photoswipe.errorMsg')}'
            }

        // KaTeX
        link(rel="stylesheet", href="/site/content/assets/vendor/katex/katex.min.css")

        // Icons
        link(rel="stylesheet", href="/site/fonts/icons/style.css")

        // Global Style
        link(href="/site/styles/global.css", rel="stylesheet")

        // Global Script
        script(src="/site/scripts/global.js")

        if (hasStyle)
            // Page Style
            link(href= `/site/styles/pages/${layout}.css`, rel="stylesheet")

        if (hasScript)
            // Page Script
            script(src= `/site/scripts/pages/${layout}.js`)

        if (config.dev)
            // Live Reload
            script(src="/site/scripts/reload.js")

        if (!config.dev)
            +adInit

    body
        script
            include /include/theme.js

        include /include/aside/major/main

        aside.minor
            .full
                block minorFull
            .mini
                block minorMini

        main
            article
                block content

            .expand
                //- Making sure sticky bottom is always actually to bottom

            .bottomSticky
                .asideControls
                    button.majorOpen
                        i.i-aside-open(style="transform: scale(-1, 1)")

                    button.minorOpen
                        i.i-aside-open

                section#preview
                    .display
                        .border
                        .screen.loading(data-state)
                            .inner
                                i.i-omath
                        .screen.error(data-state)
                            .inner
                                i.i-warning

                    footer
                        .title= i18n('preview.title')
                        .controls
                            a.button.goto(title= i18n('preview.controls.goto'), target="_blank", href="")
                                i.i-up-right-from-square
                            .button.back(title= i18n('preview.controls.back'))
                                i.i-arrow-left
                            .button.mini(
                                data-label-collapse= i18n('preview.controls.mini.collapse'),
                                data-label-expand= i18n('preview.controls.mini.expand')
                            )
                                i.i-compress
                                i.i-expand
                            .button.exit(title= i18n('preview.controls.exit'))
                                i.i-xmark
    
        if (!config.dev)
            include /vendor/yandex.html
            include /vendor/google.html