extends /template/default

include /include/toc

block content
    header
        img.avatar(src= avatar)
        .info
            h1.name= name
            if (slogan)
                .slogan= slogan
    
    div(data-content)!= content

block minorFull
    header
        .label= i18n('contribution') + ':'
        .count= contributionCount

    .contributionList
        each book in contribution
            section
                .book
                    i.i-chevron-up
                    span.title= book.title
                    span.count= book.topics.length
                .topics
                    each topic in book.topics
                        .topic
                            a(href= topic.link)
                                i.i-file-lines
                                span= topic.title

block minorMini
    button.contribution(title= i18n('contribution'))
        i(class='i-pen-nib')