extends /template/default

include /include/ads
include /include/toc

block content
    header
        if (decoration)
            img.decoration(src= decoration)

        .topicInfo
            .type(title= i18n(topicType))
                case topicType
                    when "article"
                        i(class="i-file-lines")
                    when "summary"
                        i(class="i-topic-summary")
                    when "practicum"
                        i(class="i-topic-practicum")

            h1.title= title

            if (desc)
                .desc= desc

        if (!config.dev)
            +adBlock('R-A-2185026-2', 'beforeContent')

    div(data-content)!= content

    footer
        .typeNavBlock
            each t in ['article', 'summary', 'practicum']
                a.button(
                    href= topicTypes.includes(t) && t !== topicType ? `../@${t}` : null,
                    data-disabled= !topicTypes.includes(t),
                    data-current= t === topicType
                )
                    i(class= `i-${topicIcon(t)}`)
                    .label= i18n(t)
                    .desc= i18n('topicTypeDesc.' + t)

        .topicNavBlock
            if (previous)
                a.previous(href= `/${previous}`)
                    i.i-arrow-left
                    span.short Назад
                    span.long= previousTitle
            .sep
            if (next)
                a.next(href= `/${next}`)
                    span.short Дальше
                    span.long= nextTitle
                    i.i-arrow-right

        if (!config.dev)
            +adBlock('R-A-2185026-1', 'afterContent')

block minorFull
    mixin switchButton(href, icon, label, options = {})
        a(href= href, title= label, data-current= options.current, data-disabled= options.disabled)
            .inner
                i(class= `i-${icon}`)

    .typeSwitcher
        +switchButton(previous ? '/' + previous : null, 'arrow-left', i18n('layout.topic.previous'), { disabled: !previous })

        each t in ['article', 'summary', 'practicum']
            +switchButton(
                topicTypes.includes(t) && t !== topicType ? `../@${t}` : null,
                topicIcon(t),
                i18n(t),
                { current: t === topicType, disabled: !topicTypes.includes(t) }
            )

        +switchButton(next ? '/' + next : null, 'arrow-right', i18n('layout.topic.next'), { disabled: !next })
    
    .topicToc
        .inner
            .tocTree
                if toc
                    each tocItem in toc
                        +tocItem(
                            tocItem.level,
                            tocItem.icon,
                            tocItem.label,
                            { href: `#${tocItem.id}` }
                        )

    .contributors(title= i18n('page.topic.contribution.title'))
        -
            let toPreview = 4
            let hasMore = contributors.length > toPreview

        .avatars
            each contributor in contributors.slice(0, toPreview)
                img(src= contributor.avatar)

        if (hasMore)
            .more= '+' + (contributors.length - toPreview)

    .minorView.contribution
        .inner
            .contributors
                .expand
                each contributor in [...contributors].reverse()
                    a.contributor(href= contributor.link)
                        img(src= contributor.avatar)
                        .name= contributor.name
            a.contribute(href= "/contribution-link")
                .figure
                    i.i-plus
                span= i18n('page.topic.contribution.make')

            .info
                span.title= i18n('page.topic.contribution.title') + ':'
                span.number= contributors.length
                i.i-xmark.close

block minorMini
    mixin miniSwitchButton(href, icon, label, options = {})
        a(href= href, title= label, data-current= options.current, data-disabled= options.disabled)
            i(class= `i-${icon}`)

    each t in ['article', 'summary', 'practicum']
        +miniSwitchButton(
            topicTypes.includes(t) && t !== topicType ? `../@${t}` : null,
            topicIcon(t),
            i18n(t),
            { current: t === topicType, disabled: !topicTypes.includes(t) }
        )